node_modules/*
config.json
build\commands\stream\cookie.json
commands\stream\cookie.json
register.js
build/*
yarn.lock
log/log.log.2023-05-13
log/log.log.2023-05-28
log/log.log.2023-06-05
commands/backup/event.js
commands/backup/event.ts
commands/backup/music.js
commands/backup/music.ts
commands/backup/stream_util.js
commands/backup/ytdl-stream/playMode_class.js
commands/backup/ytdl-stream/playMode_class.ts
commands/backup/ytdl-stream/stream_class.js
commands/backup/ytdl-stream/stream_class.ts
commands/backup/ytdl-stream/embed/add.js
commands/backup/ytdl-stream/embed/add.ts
commands/backup/ytdl-stream/embed/error.js
commands/backup/ytdl-stream/queue/embed.js
commands/backup/ytdl-stream/queue/embed.ts
commands/backup/ytdl-stream/queue/music_class.js
commands/backup/ytdl-stream/queue/queue_cl
commands/backup/ytdl-stream/queue/queue_class.js
commands/backup/ytdl-stream/queue/guild/server_class.js
commands/backup/ytdl-stream/queue/guild/server_class.ts